.section--faq {
  padding: 100px 0px 250px 0px;
  background: url('../img/faq/faqBg.png') no-repeat center -100px;
  background-size: 94% auto;
  .titleWrapper {
    .title {
      color: var(--color);
    }
  }
  @media screen and (max-width: 1279px) {
    background: url('../img/faq/faqBg.png') repeat center center;
    background-size: 120% auto;
    padding: 100px 0px 210px 0px;
  }
  @media screen and (max-width: 767px) {
    padding: 80px 0px 0px 0px;
    .container {
      padding: 0;
    }
  }
}

.faq-wrapper {
  width: 100%;
  margin-top: 62px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  @media screen and (max-width: 1279px) {
    justify-content: center;
    margin-top: 40px;
    gap: 40px;
  }
}

.faq {
  display: flex;
  width: 100%;
  max-width: 668px;
  flex-wrap: wrap;
  gap: 10px;
  @media screen and (max-width: 1279px) {
    max-width: 100%;
  }
}
