.section--shops {
  padding: 50px 0px 120px 0px;
  .title {
    color: var(--color);
  }
  .subtitle {
    font-size: 64px;
    line-height: 1;
    @media screen and (max-width: 1279px) {
      font-size: 40px;
    }
  }
}
