.section--shops {
  padding: 50px 0px 120px 0px;
  p {
    margin: 0;
  }
  @media screen and (max-width: 767px) {
    padding: 50px 0px 80px 0px;
  }
  .title {
    color: var(--color);
    @media screen and (max-width: 767px) {
      max-width: 330px;
      line-height: 38.4px;
    }
  }
  .subtitle {
    font-size: 64px;
    line-height: 1;
    @media screen and (max-width: 1279px) {
      font-size: 40px;
    }
    @media screen and (max-width: 767px) {
      font-size: 32px;
      max-width: 330px;
      span {
        display: none;
      }
    }
  }
}
