.section--steps {
  padding: 80px 0px;
  @media screen and (max-width: 767px) {
    padding: 40px 0px;
  }
  .buttonWrapper {
    justify-content: center;
    width: 100%;
    margin-top: 10px;
    @media screen and (max-width: 1279px) {
      margin-top: 50px;
    }
  }
  .title {
    color: var(--color);
  }
  .subtitle {
    font-size: 24px;
    max-width: 200px;
    z-index: 2;
  }
  ul,
  ol {
    margin: 0;
    padding: 0;
  }
}

// @keyframes stepEffect {
//   0%,
//   24.999999% {
//     border: 2px solid yellow;
//   }
//   25%,
//   100% {
//     border: none;
//   }
// }

.steps {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px 64px;
  @media screen and (max-width: 767px) {
    justify-content: center;
  }
  li {
    counter-increment: item;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    width: calc((100% - 3 * 64px) / 4);
    justify-content: center;
    text-align: center;
    @media screen and (max-width: 1279px) {
      width: calc((100% - 64px) / 2);
    }
    @media screen and (max-width: 767px) {
      width: 240px;
      gap: 10px;
    }
    .effect {
      position: absolute;
      width: 125%;
      max-width: 125%;
      padding-top: 110%;
      z-index: 0;
      top: -5%;
      border-radius: 300px;
      overflow: hidden;
      img,
      video {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;
        // animation: stepEffect 3.2s infinite;
      }
      &:before {
        content: '';
        display: block;
        position: absolute;
        width: 120%;
        height: 110%;
        left: -10%;
        top: -5%;
        background: url('../img/noise.gif') left top;
        z-index: 2;
        opacity: 0.1;
      }
    }
    &:before {
      content: counter(item);
      position: absolute;
      text-align: center;
      left: 0;
      top: 0;
      transform: translate(-5%, 0%);
      font-size: 200px;
      line-height: 200px;
      color: var(--color);
      opacity: 0.1;
      z-index: 1;
      @media screen and (max-width: 1279px) {
        transform: translate(-5%, 0%);
      }
      @media screen and (max-width: 767px) {
        transform: translate(-20%, 18%);
      }
    }
    &:nth-child(2n) {
      &:before {
        transform: translate(-10%, -20%);
        @media screen and (max-width: 767px) {
          transform: translate(-20%, 18%);
        }
      }
    }
    > * {
      width: 100%;
    }
  }
}

.step-image {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  position: relative;
  z-index: 2;
  @media screen and (max-width: 1279px) {
    margin-bottom: -20px;
  }
  img {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  &:before {
    content: '';
    display: block;
    width: 100%;
    padding-top: 100%;
  }
}
