.section--winners {
  padding: 120px 0px;
  background: rgb(63, 59, 14);
  background: linear-gradient(
    180deg,
    rgba(63, 59, 14, 1) 0%,
    rgba(17, 17, 17, 1) 50%,
    rgba(63, 59, 14, 1) 100%
  );
  .container {
    max-width: 1000px;
  }
  .section-background {
    img {
      &.animation {
        height: 810px;
        width: 810px;
        max-height: 810px;
        border-radius: 50%;
        transform: translate(23px, 2px);
        z-index: 2;
      }
      &.svg {
        width: 1100px;
        height: 890px;
        max-height: 890px;
        object-fit: cover;
        transform: translate(85px, -18px);
        z-index: 1;
      }
      &.bg {
        z-index: 2;
        height: 1100px;
        width: 1100px;
        max-height: 1100px;
        transform: translate(-16px, -10px);
      }
    }
  }
}
