.section--winners {
  padding: 120px 0px;
  background: rgb(63, 59, 14);
  background: linear-gradient(
    180deg,
    rgba(63, 59, 14, 1) 0%,
    rgba(17, 17, 17, 1) 50%,
    rgba(63, 59, 14, 1) 100%
  );
  @media screen and (max-width: 767px) {
    padding: 70px 0px;
    .titleWrapper {
      justify-content: center;
      .button {
        width: 100%;
        font-size: 14px;
        padding: 0px 10px;
        padding-right: 10px;
      }
    }
  }
  .container {
    max-width: 1000px;
  }
  .section-background {
    img {
      &.animation {
        height: 810px;
        width: 810px;
        max-height: 810px;
        max-width: 810px;
        border-radius: 50%;
        transform: translate(23px, 2px);
        z-index: 2;
      }
      &.svg {
        width: 1100px;
        height: 890px;
        max-height: 890px;
        max-width: 1100px;
        object-fit: cover;
        transform: translate(85px, -18px);
        z-index: 1;
      }
      &.bg {
        z-index: 2;
        height: 1100px;
        width: 1100px;
        max-height: 1100px;
        transform: translate(-16px, -10px);
      }
    }
    @media screen and (max-width: 767px) {
      img {
        &.animation {
          height: 375px;
          width: 375px;
          max-height: 375px;
          max-width: 375px;
          transform: translate(0px, 0px);
        }
        &.svg {
          display: none;
        }
        &.bg {
          height: 500px;
          width: 375px;
          max-height: 500px;
          transform: translate(-15px, -2px);
        }
      }
    }
  }
}
