.section--winners {
  padding: 120px 0px;
  background: rgb(63, 59, 14);
  background: linear-gradient(
    180deg,
    rgba(63, 59, 14, 1) 0%,
    rgba(17, 17, 17, 1) 50%,
    rgba(63, 59, 14, 1) 100%
  );
  @media screen and (max-width: 767px) {
    padding: 70px 0px;
    .titleWrapper {
      justify-content: center;
      .button {
        width: 100%;
        font-size: 14px;
        padding: 0px 10px;
        padding-right: 10px;
      }
    }
  }
  .section-container {
    max-width: 1000px;
  }
  .section-background {
    img {
      &.animation {
        width: 700px;
        max-width: 700px;
        height: 700px;
        max-height: 700px;
        border-radius: 50%;
      }
      &.svg {
        width: auto;
        max-width: 100%;
        height: 100%;
        max-height: 1000px;
        object-fit: cover;
      }
      @media screen and (max-width: 1279px) {
        &.animation {
          width: 500px;
          max-width: 500px;
          height: 500px;
          max-height: 500px;
        }
        &.svg {
          width: auto;
          max-width: 100%;
          height: 100%;
          max-height: 800px;
        }
      }
      @media screen and (max-width: 767px) {
        &.animation {
          width: 350px;
          max-width: 350px;
          height: 350px;
          max-height: 350px;
        }
        &.svg {
          width: auto;
          max-width: 100%;
          height: 100%;
          max-height: 500px;
        }
      }
    }
  }
}
