@keyframes moveUpDown {
  0% {
    transform: translateY(30px) translateX(0px);
  }
  50% {
    transform: translateY(-30px) translateX(-20px);
  }
  100% {
    transform: translateY(30px) translateX(0px);
  }
}

@keyframes moveLeft {
  0% {
    transform: translate(0%, 0%);
  }
  49.9999% {
    transform: translate(-100%, 0%);
  }
  50% {
    transform: translate(100%, 0%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}

@keyframes moveLeftCopy {
  0% {
    transform: translate(0%, 0%);
  }
  50% {
    transform: translate(-100%, 0%);
  }
  99.9999% {
    transform: translate(-200%, 0%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}

// move to right

@keyframes moveRight {
  0% {
    transform: translate(0%, 0%);
  }
  49.9999% {
    transform: translate(100%, 0%);
  }
  50% {
    transform: translate(-100%, 0%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}

@keyframes moveRightCopy {
  0% {
    transform: translate(-200%, 0%);
  }
  50% {
    transform: translate(-100%, 0%);
  }
  99.9999% {
    transform: translate(0%, 0%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}
