.buttonWrapper {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  gap: 12px;
  &.ta--c {
    justify-content: center;
  }
}

.button {
  display: inline-flex;
  position: relative;
  overflow: hidden;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 10px;
  color: var(--black);
  background: var(--white);
  font-family: 'PF-Din';
  font-size: 18px;
  font-weight: 500;
  padding: 5px 34px;
  line-height: 1;
  text-transform: uppercase;
  transition: 0.3s;
  height: 53px;
  z-index: 1;
  span {
    position: relative;
    z-index: 2;
  }
  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 0px;
    bottom: 0px;
    background: var(--color);
    border-radius: 1000px;
    width: 140%;
    padding-top: 100%;
    transform-origin: center;
    transform: translate(-50%, 50%) scale(0);
    transition: 0.6s;
    z-index: 0;
  }
  &:hover {
    &:before {
      transform: translate(-20%, 50%) scale(1);
    }
  }
  &.button--yellow {
    background: var(--color);
    &:before {
      background: var(--white);
    }
  }
  &.button--black {
    background: var(--black);
    color: var(--white);
    &:before {
      content: none;
    }
    &.arrow {
      &:after {
        content: url(../img/svg/arrow_white.svg);
      }
    }
  }
  // button with arrow
  &.arrow {
    padding-right: 24px;
    &:after {
      content: url(../img/svg/arrow.svg);
      position: relative;
      transition: 0.3s;
      width: 25px;
      height: 14px;
      transform: translate(0px, 0px);
    }
    &:hover {
      &:after {
        transform: translate(6px, 0px);
      }
    }
  }
  // button with slope
  &.slope {
    transform: skewX(-16deg);
    span {
      transform: skewX(16deg);
      will-change: transform;
    }
    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 0px;
      bottom: 4px;
      background: var(--color);
      border-radius: 0px;
      width: 100%;
      height: calc(100% - 8px);
      padding-top: 0;
      transform-origin: center;
      transform: translate(-100%, 0%) scale(1);
      will-change: transform;
      transition: 0.6s;
      z-index: 1;
    }

    &:hover {
      &:before {
        transform: translate(0%, 0%) scale(1);
      }
    }
  }
}
