.footer {
  display: block;
  width: 100%;
  position: relative;
  bottom: 0px;
  left: 0px;
  padding: 50px 0px;
  z-index: 5;
  p,
  ul,
  ol {
    margin: 0;
    padding: 0;
  }
  .section-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    font-size: 14px;
    padding: 0px 36px;
    max-width: 1440px;
    @media screen and (max-width: 767px) {
      align-items: flex-start;
    }
  }
  @media screen and (max-width: 767px) {
    position: relative;
    padding: 50px 20px 80px 20px;
    align-items: flex-end;
    p:first-child {
      order: 1;
    }
    p:nth-child(2) {
      order: 3;
    }
    .footerNavigation {
      order: 2;
    }
    .socials {
      order: 4;
    }
  }
}

.footerNavigation {
  display: inline-flex;
  flex-wrap: wrap;
  font-size: 14px;
  gap: 18px;
  a {
    color: var(--color);
    border-bottom: 1px solid var(--color);
    &:hover {
      color: var(--color);
    }
  }
  @media screen and (max-width: 767px) {
    width: 55%;
    text-align: right;
    justify-content: flex-end;
    align-items: center;
    gap: 6px;
    font-size: 12px;
  }
}
