.header {
  display: block;
  position: fixed;
  width: 100%;
  height: 70px;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
  top: 0px;
  left: 0px;
  z-index: 10;
  .container {
    justify-content: space-between;
    align-content: center;
    align-items: center;
    gap: 28px;
    padding-left: 36px;
    max-width: 1440px;
    @media screen and (max-width: 1380px) {
      gap: 20px;
      padding-left: 20px;
    }
    @media screen and (max-width: 1279px) {
      padding-left: 34px;
    }
  }
  .button {
    height: 40px;
    @media screen and (max-width: 1380px) {
      padding: 0px 20px;
    }
  }
  @media screen and (max-width: 1279px) {
    .buttonWrapper {
      .button {
        &:first-child {
          display: none;
        }
      }
    }
  }
}

.logo {
  display: inline-flex;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  gap: 20px;
  @media screen and (max-width: 1279px) {
    gap: 10px;
    img {
      height: 34px;
    }
  }
}

.menu {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  gap: 24px;
  a {
    font-size: 18px;
    line-height: 1.7;
    transition: 0.3s;
    &:hover {
      color: var(--color);
    }
  }
  @media screen and (max-width: 1279px) {
    gap: 16px;
    a {
      font-size: 14px;
    }
  }
}

.header-btn {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: var(--black);
  width: 156px;
  padding: 20px;
  height: 70px;
  background: var(--color);
  margin-left: 4px;
  text-align: center;
  font-size: 20px;
  line-height: 1;
  @media screen and (max-width: 1380px) {
    width: 100px;
    font-size: 16px;
  }
  @media screen and (max-width: 1279px) {
    display: none;
  }
}
