.header {
  display: block;
  position: fixed;
  width: 100%;
  height: 70px;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
  top: 0px;
  left: 0px;
  z-index: 10;
  .section-container {
    justify-content: space-between;
    align-content: center;
    align-items: center;
    gap: 28px;
    padding-left: 36px;
    max-width: 1440px;
    height: 100%;
    @media screen and (max-width: 1380px) {
      gap: 20px;
      padding-left: 20px;
    }
    @media screen and (max-width: 1279px) {
      padding-left: 34px;
    }
    @media screen and (max-width: 767px) {
      padding-left: 20px;
    }
  }
  .button {
    height: 40px;
    @media screen and (max-width: 1380px) {
      padding: 0px 20px;
    }
    @media screen and (max-width: 767px) {
      height: 32px;
      font-size: 14px;
      padding: 0px 16px;
      &.arrow {
        padding-right: 16px;
        span {
          margin-bottom: -5%;
        }
      }
    }
  }
  @media screen and (max-width: 1279px) {
    .buttonWrapper {
      .button {
        &:first-child {
          display: none;
        }
      }
    }
  }
  @media screen and (max-width: 767px) {
    height: 50px;
  }
}

.logo {
  display: inline-flex;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  gap: 20px;
  @media screen and (max-width: 1279px) {
    gap: 10px;
    img {
      height: 32px;
    }
  }
  @media screen and (max-width: 767px) {
    svg {
      width: 12px;
      height: 12px;
    }
  }
}

.menu {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  gap: 24px;
  a {
    font-size: 18px;
    line-height: 1.7;
    transition: 0.3s;
    color: var(--white);
    &:hover {
      color: var(--color);
    }
  }
  @media screen and (max-width: 1279px) {
    gap: 16px;
    a {
      font-size: 14px;
    }
  }
}

.mobil-navigation {
  display: none;
  a {
    text-decoration: none;
  }
}

@media screen and (max-width: 767px) {
  .navigation {
    display: none;
  }
  .mobil-navigation {
    display: block;
    width: 100%;
    height: 40px;
    position: fixed;
    left: 0px;
    bottom: 0px;
    z-index: 20;
    padding: 0px 20px;
    background: var(--black);
    .menu {
      display: inline-flex;
      width: 100%;
      height: 100%;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-content: center;
      li {
        display: block;
        height: 100%;
        text-align: center;
        a {
          display: flex;
          height: 100%;
          justify-content: center;
          align-items: center;
          align-content: center;
          position: relative;
          font-size: 12px;
          line-height: 12px;
          color: var(--white);
          &:before {
            content: '';
            display: block;
            position: absolute;
            width: 6px;
            height: 6px;
            background: var(--white);
            top: -3px;
            transform: rotate(45deg);
            opacity: 0;
            transition: 0.3s;
          }
          &:hover {
            color: var(--color);
            &:before {
              content: '';
              background: var(--color);
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

.header-btn {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: var(--black);
  width: 156px;
  padding: 20px;
  height: 70px;
  background: var(--color);
  margin-left: 4px;
  text-align: center;
  font-size: 20px;
  line-height: 1;
  &:hover {
    color: var(--black);
  }
  @media screen and (max-width: 1380px) {
    width: 100px;
    font-size: 16px;
  }
  @media screen and (max-width: 1279px) {
    display: none;
  }
}
