.section {
  display: block;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}

.container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  position: relative;
  margin: 0 auto;
  height: 100%;
  z-index: 1;
  @media screen and (max-width: 767px) {
    padding: 0px 20px;
    max-width: 480px;
  }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    max-width: 768px;
  }
  @media screen and (min-width: 1280px) {
    padding: 0px 36px;
    max-width: 1440px;
  }
}

.section-background {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: absolute;
  z-index: 0;
  left: 0;
  top: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  img {
    position: absolute;
    max-height: 100%;
    z-index: 1;
  }
  &:before {
    z-index: 2;
  }
}

.section-background,
.noise {
  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background: url('../img/noise.gif');
    background-size: 540px 540px;
    opacity: 0.1;
  }
}

.noise {
  &:before {
    z-index: 0;
  }
}
