.winnersTable {
  width: 100%;
  margin-top: 48px;
  text-align: left;
  font-size: 22px;
  @media screen and (max-width: 1279px) {
    font-size: 14px;
  }
  @media screen and (max-width: 767px) {
    margin-top: 30px;
  }
  thead {
    tr {
      display: flex;
      justify-content: space-between;
      padding-bottom: 20px;
      th {
        font-size: 24px;
        font-family: 'Cartoon';
        color: var(--color);
        font-weight: 400;
      }
    }
    @media screen and (max-width: 1279px) {
      tr {
        padding-bottom: 0px;
      }
    }
    @media screen and (max-width: 767px) {
      tr {
        padding: 0;
        th {
          font-size: 18px;
          font-family: 'PF-Din';
          font-weight: 700;
          text-transform: capitalize;
        }
      }
    }
  }
  tbody {
    tr {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      color: var(--white);
      transition: 0.3s;
      &:hover {
        border-bottom: 1px solid var(--color);
        color: var(--color);
      }
      @media screen and (max-width: 767px) {
        font-size: 12px;
      }
    }
  }
  td,
  th {
    padding: 15px 0px;
    min-width: 100px;
    &:nth-child(2) {
      min-width: 150px;
    }
    &:nth-child(3) {
      min-width: 150px;
    }
    @media screen and (max-width: 767px) {
      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4) {
        min-width: 24%;
        width: 24%;
      }
      &:nth-child(4) {
        text-align: right;
      }
    }
  }
}
